@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100vh;
  font-size: 18px;
  background: black;
}
p {
  color: white;
}
.timer-container {
  text-align: center;
  font-size: 15rem;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
form input {
  height: 30px;
  width: 200px;
  margin: 0 2rem;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  border-radius: 3px;
  background: black;
  color: white;
}
form input:focus {
  outline: none;
  border: 1px solid white;
}
button {
  background: white;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid #6b6b6b;
  cursor: pointer;
  color: #6b6b6b;
}
button:active {
  background: #6b6b6b;
  color: white;
  border-color: #6b6b6b;
}
#start {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}
